
.dashboard-content {
    flex: 1;
   
    
  }
  
  .dash-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0; /* Optional: Adjust if you have a different background color */
    border-bottom: 1px solid #ddd; /* Optional: Add a border for visual separation */
    position: relative; /* Set relative positioning for child absolute positioning */
  }
  
  .dash-header .date {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
  }
  
  .dash-header .search-bar {
    position: absolute;
    right: 0;
    padding: 8px;
  }
  
  
  .summary-cards {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .summary-card {
    background-color: #b18843;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px;
  }
  
  .summary-card h3 {
    margin: 5px 0;
    font-size: 30px;
  }
  .summary-card p {
    margin: 5px 0;
    font-size: 20px;
  }
  .icon{
    font-size: 40px;
  }
  .lists-and-details {
    display: flex;
    justify-content: space-between;
  }
  
  .lists {
    display: flex;
    flex-direction: column;
  }
  
  .attendance-details {
    background-color: white;
    padding: 0 20px;
    border-radius: 10px;
    margin: 10px 0;
    width: 300px;
  }
  .student-list, .employee-list {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers the list items vertically */
    align-items: flex-start; /* Aligns the list items to the start of the container (left) */
    background-color: white;
    padding: 0 20px;
    border-radius: 10px;
    margin: 10px 0;
    width: 300px;
  }
  
  .attendance-details {
    flex: 1;
  }
  
  .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .profile-pic {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px; 
    object-fit: cover; 
  }
  
  .student-list input, .employee-list input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .student-list ul, .employee-list ul {
    list-style: none; 
    padding: 0;
  }
  
  .student-list li, .employee-list li {
    margin: 5px 0;
    text-align: left;
  }
  
  .attendance-details table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .attendance-details th, .attendance-details td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .attendance-details th {
    background-color: #b18843;
    color: white;
  }
  
  